{% extends '::base.html.twig' %}

{% block body -%}
    <h1>La liste des hierarchies</h1>

    <table class="records_list navy border w100">
        <thead>
            <tr>
                <th>Id</th>
                <th>Role</th>
                <th>Hierarchie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('hierarchie_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.role }}</td>
                <td>{{ entity.hierarchie }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('hierarchie_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('hierarchie_ajout', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('hierarchie_new') }}">
                Creation de la liste
            </a>
        </li>
    </ul>
    {% endblock %}
