{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Liste des utilisateurs</h1>

    <table class="records_list border fer center">
        <thead>
            <tr>
                <th>Id</th>
                <th>Roles</th>
                <th>Username</th>
                <th>Salt</th>
                <th>Password</th>
                <th>Email</th>
                <th>Isactive</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>ROLE_USER</td>
                <td>{{ entity.username }}</td>
                <td>{{ entity.salt }}</td>
                <td>{{ entity.password }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.isActive }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('user_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('user_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	

        <ul>
        <li>
            <a href="{{ path('user_new') }}">
                Creation d'un nouvel utilisateur
            </a>
        </li>
    </ul>
    {% endblock %}
